@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #243e63;
    box-sizing: border-box;
}

section {
    padding: 0 32px;
}

a {
    text-decoration: none;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.purple {
    color: #6415ff;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

/*
Navigation styling
*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 20px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    margin: 0;
    margin-top: 2px;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    width: auto;
}

/*
Header styling
*/

header {
    position: relative;
}

.container {
    padding: 96px 0;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__description {
    width: 40%;
}

h1 {
    color: #1a202c;
    font-size: 36px;
    line-height: 1.25;
}

.header__description--para {
    font-size: 16px;
    margin: 32px 0;
}

.header__email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
}

.header__email--input {
    color: rgb(36, 62, 99);
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 500px;
    border: 2px solid rgb(299, 231, 235);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
}

.header__email--btn {
    background-color: #6415ff;
    color: white;
    width: 160px;
    height: calc(100% - 16px);
    margin: 8px;
    border-radius: 500px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
}

.header__customers {
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}

.header__customers--title {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 512px;
}

/*
Features styling
*/

#features {
    position: relative;
}

.container {
    padding: 96px 0;
}

#features .row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
}

.section__title {
    color: rgb(36, green, blue);
}

main {
    margin-bottom: 96px;
}
