@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #243e63;
    box-sizing: border-box;
}

section {
    padding: 0 32px;
}

a {
    text-decoration: none;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.purple {
    color: #6415ff;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

img {
    width: 100%;
}

.container {
    padding: 96px 0;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

/*
Navigation styling
*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 20px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    margin: 0;
    margin-top: 2px;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    width: auto;
}

/*
Header styling
*/

header {
    position: relative;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__description {
    width: 40%;
}

h1 {
    color: #1a202c;
    font-size: 36px;
    line-height: 1.25;
}

.header__description--para {
    font-size: 16px;
    margin: 32px 0;
}

.header__email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
}

.header__email--input {
    color: rgb(36, 62, 99);
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 500px;
    border: 2px solid rgb(299, 231, 235);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
}

.header__email--btn {
    background-color: #6415ff;
    color: white;
    width: 160px;
    height: calc(100% - 16px);
    margin: 8px;
    border-radius: 500px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
}

.header__customers {
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}

.header__customers--title {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 512px;
}

/*
Features styling
*/

#features {
    position: relative;
}

.container {
    padding: 96px 0;
}

#features .row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
}

.section__title {
    color: rgb(36, 62, 99);
    margin: 16px 0;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.feature__para {
    color: rgb(124, 139, 161);
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(643px / 3);
    font-weight: 500;
    line-height: 1.5;
}

main {
    margin-bottom: 96px;
}

/*
Quality styling
*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    max-width: 570px;
    margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

#quality .section__title {
    line-height: 1.25;
    text-align: left;
}

#quality .btn {
    margin-top: 32px; /*space between the button and para*/
}

.quality__img--wrapper {
    display: flex;
    border: 1px solid rgb(299, 231, 235);
    border-radius: 4px;
    position: relative;
}

/*
Steps styling
*/
#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    width: 50%;
    position: relative;
}

.steps__img {
    width: 100%;
    z-index: 2;
}

.steps__description {
    width: 50%;
    padding: 32px 0;
    padding-left: 60px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

.step__description {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-left: 24px;
}

.step__title {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.step__para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.steps__description .section__title {
    text-align: left;
    /*ensures the title in this specific section is left-aligned*/
}

/*
Values styling
*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description,
.values__img {
    width: 50%;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 30px;
    line-height: 1.25;
    text-align: left;
}

.values__list {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.value:nth-of-type(1) {
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__para {
    color: #718096;
    line-height: 1.5;
    margin-top: 16px;
}

.value__img--wrapper1 {
    background-color: #9ae6b4;
}

.value__img--wrapper2 {
    background-color: #feb2b2;
}

.value__img--wrapper1,
.value__img--wrapper2 {
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}

.value__para {
    color: #718096;
    margin-top: 16px;
    line-height: 1.5;
}
#values .btn {
    margin-top: 48px;
}

/*
Pricing styling
*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__title {
    text-align: center;
}

#pricing .section__para {
    text-align: center;
    max-width: 580px;
}

.plans {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.plan {
    color: rgb(26, 32, 44);
    display: flex;flex-direction: column;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
}

.plan__stripe {
    position: absolute;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    background-color: #9ae6b4;
}

.plan__top {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 32px 0;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) {
    color: #1a202c;
}